{# ONLY MACROS GO HERE -- NO OTHER CODE THAT CAN HAVE SIDE EFFECTS!!! #}

{% macro flash(flashes) %}
    {% if flashes %}
        {% for k, messages in flashes %}
        <div class="alert alert-{{ k }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for msg in messages %}
                <div><span class="msg">{{ msg }}</span> <span class="num"></span></div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
{% endmacro %}